table { width: 100%; }

thead {}
tr.review-table-head-row {
    border-top: 1px solid #0277BD;
    border-bottom: 1px solid #0277BD;
    background: #039BE5;
    font-family: arial;
    color: #FFF;
    font-weight: 600;
}
th{
    border: 1px solid #CFD8DC;
    padding: 2px 10px;
}
th span {display: block;}

tr.review-table-body-row {
    cursor: pointer;
}
tr.review-table-body-row:hover td {
    background: #B3E5FC;
}
.review-table-body-row-field-status-warn {padding: 10px; border-bottom: 1px solid #CFD8DC; background: #FF9800;}
.review-table-body-row-field-status-rjct {padding: 10px; border-bottom: 1px solid #CFD8DC; background: #F44336;}
.review-table-body-row-field-status-acpt {padding: 10px; border-bottom: 1px solid #CFD8DC; background: #4CAF50;}

td.review-table-body-row-field {
    border: 1px solid #CFD8DC;
    padding: 2px 10px;
    background: #FFF;
}
td.review-table-body-row-field-string {}
td.review-table-body-row-field-bool {}
td.review-table-body-row-field-decimal {text-align: right;}
td.review-table-body-row-field-int {text-align: right;}
td.review-table-body-row-field-date {}
td.review-table-body-row-field-datetime {}
